.Help_html {
    height: 100%;
}
.Help_body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.Help_global {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Help_main {
    width: 100%;
    height: 100%;
    background: url(../img/house/house_main.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events:none;
}
.Help_top {
    position: relative;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.75);
}
.Help_top_Language {
    position: absolute;
    top: 23.5%;
    left: 93.5%;
    width: 1.75%;
    height: 50%;
    background: url(../img/language.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
}
    .Help_top_Language label {
        position: absolute;
        top: 60%;
        left: 70%;
        width: 1%;
        height: 20%;
        font-size: 50%;
        color: rgba(255, 255, 255, 0.7);
    }

.Help_top_logo {
    position: absolute;
    top: 27.5%;
    left: 5%;
    width: 7.5%;
    height: 45%;
    background: url(../img/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.85;
}
.Help_top_house {
    position: absolute;
    top: 25%;
    left: 96.5%;
    width: 1.75%;
    height: 45%;
    background: url(../img/house/house_top_house.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.85;
}
.Help_center {
    position: relative;
    width: 100%;
    height: 93%;
}
.Help_center_center {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.Help_center_Main {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    float: left;
    position:relative;
}
.Help_Pane {
    position: absolute;
    top: 7%;
    left: 50%;
    right: 50%;
    width: 600px;
    transform: translate(-50%,0%);
}
.Help_Pane_Head {
    width: 100%;
    height: 35px;
    background-color: #ff911a;
}
.Help_Pane_Text {
    position:relative;
    width: 100%;
    height: 3650px;
    background-color: rgba(255, 255, 255, 0.9);
}
.Help_Pane_Buttom {
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
}
.Text_Head{
    position:absolute;
    top:20px;
    left:0px;
    width:100%;
    height:50px;
    text-align:center;   
}
.Text_Head label{
    font-size:95%;
}
.Text_IconFeatures {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    position:relative;
}
.Text_IconFeatures label {
    position: absolute;
    left: 10px;
    font-size: 90%;
    color: rgba(255, 145, 26, 0.8);
}
.Text_Instructions_House {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
.Text_Instructions_House div {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 27.5px;
    height: 27.5px;
    background: url(../img/help/help_house.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Text_Instructions_House label {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 450px;
    height: 40px;
    font-size: 12.5px;
    word-break: break-word;
    -ms-word-break: break-word;
}
.Text_Instructions_Help {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
.Text_Instructions_Help div {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 25px;
    height: 25px;
    background: url(../img/help/help_help.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Text_Instructions_Help label {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 450px;
    height: 40px;
    font-size: 12.5px;
    word-break: break-word;
    -ms-word-break: break-word;
}
.Text_Instructions_Upload {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
.Text_Instructions_Upload div {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 27.5px;
    height: 30px;
    background: url(../img/help/help_upload.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Text_Instructions_Upload label {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 450px;
    height: 40px;
    font-size: 12.5px;
    word-break: break-word;
    -ms-word-break: break-word;
}
.Text_Instructions_Preview {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
.Text_Instructions_Preview div {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 27.5px;
    height: 30px;
    background: url(../img/help/help_preview.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Text_Instructions_Preview label {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 450px;
    height: 80px;
    font-size: 12.5px;
    word-break: break-word;
    -ms-word-break: break-word;
}
.Text_Instructions_Back {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
    .Text_Instructions_Back div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 27.5px;
        height: 30px;
        background: url(../img/help/help_back.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Text_Instructions_Back label {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 450px;
        height: 80px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Used {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}
    .Text_Used label {
        position: absolute;
        left: 10px;
        font-size: 90%;
        color: rgba(255, 145, 26, 0.8);
    }
.Text_Create {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 65px;
    position: relative;
}
    .Text_Create div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 27.5px;
        height: 27.5px;
        background: url(../img/help/help_features_create.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Text_Create label {
        position: absolute;
        top: 7.5px;
        left: 100px;
        width: 450px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Restore {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: relative;
}
    .Text_Restore div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 27.5px;
        height: 27.5px;
        background: url(../img/help/help_features_download.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Text_Restore label {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 450px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Search {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 80px;
    position: relative;
}
    .Text_Search div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 27.5px;
        height: 27.5px;
        background: url(../img/help/help_features_search.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Text_Search label {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 450px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Result {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100px;
    position: relative;
}
    .Text_Result div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 27.5px;
        height: 27.5px;
        background: url(../img/help/help_features_result.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Text_Result label {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 450px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }

.Text_Edit {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}
    .Text_Edit label {
        position: absolute;
        left: 10px;
        font-size: 90%;
        color: rgba(255, 145, 26, 0.8);
    }
.Text_Examples {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 350px;
    position: relative;
}
    .Text_Examples div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 300px;
        background: url(../img/help/help_Examples_1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Text_Examples label {
        position: absolute;
        top: 320px;
        left: 50px;
        width: 500px;
        height: 30px;
        font-size: 12.5px;
        text-align:center;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Left {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 150px;
    position: relative;
}
    .Text_Left label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Right {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 170px;
    position: relative;
}
    .Text_Right label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Center {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 175px;
    position: relative;
}
    .Text_Center label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }

.Text_How {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}
    .Text_How label {
        position: absolute;
        left: 10px;
        font-size: 90%;
        color: rgba(255, 145, 26, 0.8);
    }
.Text_Begin {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100px;
    position: relative;
}
    .Text_Begin label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Examples_2 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 350px;
    position: relative;
}
    .Text_Examples_2 div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 300px;
        background: url(../img/help/help_Examples_2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Text_Examples_2 label {
        position: absolute;
        top: 320px;
        left: 50px;
        width: 500px;
        height: 30px;
        font-size: 12.5px;
        text-align: center;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Begin_2 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100px;
    position: relative;
}
    .Text_Begin_2 label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Examples_3 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 350px;
    position: relative;
}
    .Text_Examples_3 div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 300px;
        background: url(../img/help/help_Examples_3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Text_Examples_3 label {
        position: absolute;
        top: 320px;
        left: 50px;
        width: 500px;
        height: 30px;
        font-size: 12.5px;
        text-align: center;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Begin_3 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 90px;
    position: relative;
}
    .Text_Begin_3 label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Examples_4 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 350px;
    position: relative;
}
    .Text_Examples_4 div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 300px;
        background: url(../img/help/help_Examples_4.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Text_Examples_4 label {
        position: absolute;
        top: 320px;
        left: 50px;
        width: 500px;
        height: 30px;
        font-size: 12.5px;
        text-align: center;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Examples_5 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 350px;
    position: relative;
}
    .Text_Examples_5 div {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 300px;
        background: url(../img/help/help_Examples_5.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Text_Examples_5 label {
        position: absolute;
        top: 320px;
        left: 50px;
        width: 500px;
        height: 30px;
        font-size: 12.5px;
        text-align: center;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Begin_4 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 90px;
    position: relative;
}
    .Text_Begin_4 label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }
.Text_Begin_Title {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 150px;
    position: relative;
}
    .Text_Begin_Title label {
        position: absolute;
        top: 10px;
        left: 50px;
        width: 500px;
        height: 60px;
        font-size: 12.5px;
        word-break: break-word;
        -ms-word-break: break-word;
    }

.Text_Color_Bule {
    color: rgba(0, 154, 255, 1);
}
.Text_Color_Orange{
    color:rgba(255, 145, 26, 0.8);
}
.Text_Font_Width{
    font-weight:600;
}
.Text_FontImg_Del {
    width: 17.5px;
    height: 20px;
    background: url(../img/help/help_del.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: -12.5px -10px;
}

.Preview {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10000;
}
.Preview_Img_1 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1500px;
    height: 720px;
    background: url(../img/help/help_Examples_1.png);    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.Preview_Img_2 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1500px;
    height: 720px;
    background: url(../img/help/help_Examples_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.Preview_Img_3 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1500px;
    height: 720px;
    background: url(../img/help/help_Examples_3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.Preview_Img_4 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1500px;
    height: 720px;
    background: url(../img/help/help_Examples_4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.Preview_Img_5 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1500px;
    height: 720px;
    background: url(../img/help/help_Examples_5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
